/* Stilizare pentru containerul principal */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asigură-te că containerul se întinde pe întreaga înălțime a ferestrei browserului */
}

/* Stilizare pentru header */
header {
    background-color: rgba(0, 0, 0, 0.7); /* Fundal semi-transparent */
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Stilizare pentru main (folosim flex: 1 pentru a permite footer-ului să ocupe spațiul disponibil) */
main {
    display: flex;
    flex: 1;
}

/* Stilizare pentru aside */
aside {
    background-color: rgba(177, 46, 46, 0.7); /* Fundal semi-transparent */
    color: #c14e4e;
    text-align: right;
    padding: 10px;
    float: right; /* Așază în dreapta */
    width: 20%; /* Lățimea la alegere */
   
}

/* Stilizare pentru news links */
ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Stilizare pentru conținutul imaginilor */
#image-display {
    text-align: center;
    padding: 20px;
}

#image-display img {
    max-width: 100%;
    max-height: 100%;
}

/* Stilizare pentru footer */
footer {
    background-color: rgba(0, 0, 0, 0.7); /* Fundal semi-transparent */
    color: #fff;
    text-align: center;
    padding: 20px;
}
