body{
    font-size: large;
    font-family: sans-serif;
background-image: url(cina.jpg);
}
h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
}
